<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet 'foundation', 'app' %>
    <%= favicon %>
  </head>
  <body>
    <div class="flash-messages">
      <% %i(error notice success).each do |type| %>
        <% if flash[type] %>
          <div class="flash-message-<%= type %>"> <%= flash[type] %> </div>
        <% end %>
      <% end %>
    </div>

    <div class="container">
      <div class="row">
        <div class="large-12 columns">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
